@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@400;500&display=swap');

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, 
html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #283149;
  color: #DBEDF3;
  font-family: 'Montserrat', sans-serif;
  background-image: url('/images/bg.png');
}

footer {
  margin-top: auto;
}

.title-section {
  margin: 20px;
}

.title {
  margin-top: 50px;
  font-size: 3.5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
  text-align: center;
}

.data-section {
  display: flex;
  padding: 50px;
  font-size: 1.4rem;
  font-weight: 500;
}

.data-container {
  display: flex;
  padding: 20px 50px;
  border: 10px solid #404B69;
  text-align: center;
}

.data-header {
  font-weight: 900;
  margin-right: 8px;
}

.glow-button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(145, 92, 182);
  font-weight: 600;
  padding: 15px 40px;
  border: none;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.glow-button:hover, .glow-button:focus {
  color: rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 0px 105px 3px rgba(145,92,182,0.9);
  -moz-box-shadow: 0px 0px 105px 3px rgba(145,92,182,0.9);
  box-shadow: 0px 0px 105px 3px rgba(145,92,182,0.9);
}

footer p a {
  text-decoration: none;
  color: #DBEDF3;
  border-radius: 5px;
}

footer p a:hover {
  background-color: rgba(136, 182, 92, 0.4);
  color: #e9f3db;
  box-shadow: 0 5px 15px rgba(136, 182, 92, 0.4);
}
